#odstep {
	padding: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

 .jumbotron {
      background-color: #f4511e;
      color: #fff;
      padding: 200px 25px;
  }
  .container-fluid {
      padding: 50px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #f4511e;
      font-size: 50px;
  }
  .logo {
      color: #f4511e;
      font-size: 200px;
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
  
  .bg-1 { 
		background-color: #1abc9c; /* Green */
		color: #ffffff;
	}
	.bg-2 { 
		background-color: #474e5d; /* Dark Blue */
		color: #ffffff;
	}
	.bg-3 { 
		background-color: #ffffff; /* White */
		color: #555555;
	}
	
	.form-control {
		max-width:300px;
	}
	
	img {
    width:20%;
	}
	
	.font-face{
	font-family:"Juice ITC";
	src:url("http://www.myfontfree.com/data/54/j/juice-itc/JUICE___.TTF");
}


	h1 {
		font-size:600%;
	}
	
	h3{
		font-size:300%;
	}
	
	.pulse {
	animation-name: pulse_animation;
	animation-duration: 5000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

#paragraf {
	margin-top: -50%;
	margin-left: 50%;
    width: 20%;
    height: 20%;
    position: relative;
    -webkit-animation: myfirst 5s linear 2s infinite alternate; /* Chrome, Safari, Opera */
    animation: myfirst 5s linear 2s infinite alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%   {left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
}

/* Standard syntax */
@keyframes myfirst {
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
}