{% load staticfiles %}
<html>
<head>
	<title>KruczekFinder - Sprawdź swoją umowę!</title>
	<meta charset="utf-8">
	<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon"/>

	<script src="{% static 'dist/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'dist/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'dist/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/css/global.normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/css/global.styles.css' %}">
</head>

<body>
	<h1>Hello world</h1>

	<h2>Formularz:</h2>
	<form method="POST" action="" enctype="multipart/form-data">
		{% csrf_token %}
		<h3>Dane wysyłającego</h3>
		{{ form.as_p }}

		<h3>Pliki umowy</h3>
		<div class="formset-content">
			<div class="management-form">
				{{ formset.management_form }}
			</div>
			<div class="dynamic-forms">
				{% for form in formset %}
					<div class="inserted-form">
						{{ form.errors }}
						{{ form.as_p }}
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="actions">
			<a class="button" id="add-button">Dodaj</a>
			<a class="button" id="remove-button">Usuń</a>
		</div>
		<input type="submit" value="Wyślij">
	</form>
</body>
</html>