/* No files to import found in variables/**\/* */
/* No files to import found in abstractions/**\/* */
/* line 1, ../sass/base/_base.scss */
.button, .slide-down-anchor {
  cursor: pointer; }

@media (min-width: 1440px) {
  /* line 5, ../sass/base/_base.scss */
  .wide-container {
    width: 1400px; } }

/* line 1, ../sass/base/_footer.scss */
footer {
  padding: 80px 0;
  background-color: #474e5d; }
  /* line 5, ../sass/base/_footer.scss */
  footer .credentials {
    font-size: 24px;
    color: #ddd; }

/* line 1, ../sass/base/_form.scss */
form {
  margin: 0; }
  /* line 5, ../sass/base/_form.scss */
  form input {
    border-radius: 4px; }
  /* line 9, ../sass/base/_form.scss */
  form input[type="text"], form input[type="email"] {
    color: #474e5d;
    padding: 15px;
    font-size: 20px;
    line-height: 20px;
    height: 60px;
    width: 100%; }
  /* line 18, ../sass/base/_form.scss */
  form label {
    display: block; }
  /* line 22, ../sass/base/_form.scss */
  form .inserted-form {
    margin-bottom: 75px; }
  /* line 26, ../sass/base/_form.scss */
  form .categories-input-wrapper {
    display: none; }
  /* line 30, ../sass/base/_form.scss */
  form .file-input-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px; }
    /* line 37, ../sass/base/_form.scss */
    form .file-input-wrapper input[type="file"] {
      display: none; }
    /* line 41, ../sass/base/_form.scss */
    form .file-input-wrapper .preview-input {
      width: calc(100% - 140px); }
    /* line 45, ../sass/base/_form.scss */
    form .file-input-wrapper label {
      border-radius: 4px;
      cursor: pointer;
      display: block;
      background-color: #fff;
      color: #000;
      margin: 0;
      padding: 20px;
      line-height: 20px;
      height: 60px;
      font-weight: inherit;
      min-width: 120px; }
      /* line 58, ../sass/base/_form.scss */
      form .file-input-wrapper label:hover {
        background-color: #ebebe4; }
  /* line 64, ../sass/base/_form.scss */
  form .actions {
    display: flex;
    justify-content: space-between; }
  /* line 69, ../sass/base/_form.scss */
  form .select2 {
    width: 100% !important; }
    /* line 72, ../sass/base/_form.scss */
    form .select2 .select2-selection {
      padding: 15px !important; }
    /* line 75, ../sass/base/_form.scss */
    form .select2 .select2-selection__choice {
      margin-top: 5px;
      margin-bottom: 5px;
      color: #000;
      font-size: 16px; }
    /* line 81, ../sass/base/_form.scss */
    form .select2 .select2-selection--multiple {
      cursor: pointer; }
  /* line 86, ../sass/base/_form.scss */
  form button {
    font-weight: 700; }
  /* line 90, ../sass/base/_form.scss */
  form input[type="submit"] {
    display: block;
    width: 100%;
    margin-top: 50px;
    color: #474e5d;
    padding: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-transform: uppercase;
    background-color: #fff;
    font-size: 30px;
    border-radius: 8px;
    border: 2px solid #474e5d; }

/* line 1, ../sass/base/_header.scss */
header {
  background-color: #1abc9c;
  padding-bottom: 60px; }
  /* line 5, ../sass/base/_header.scss */
  header a {
    text-decoration: none !important; }
  /* line 9, ../sass/base/_header.scss */
  header .logo {
    width: 230px; }
    @media (min-width: 768px) {
      /* line 9, ../sass/base/_header.scss */
      header .logo {
        width: 468px; } }
  /* line 16, ../sass/base/_header.scss */
  header .logo-header {
    margin: 0;
    font: 900 45px 'Titillium Web';
    color: #000; }
    @media (min-width: 768px) {
      /* line 16, ../sass/base/_header.scss */
      header .logo-header {
        font-size: 75px; } }
  /* line 25, ../sass/base/_header.scss */
  header .pulse {
    animation-name: pulse_animation;
    animation-duration: 5000ms;
    transform-origin: 70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
@keyframes pulse_animation {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1.08); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.05); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
/* line 1, ../sass/base/_main.scss */
main {
  color: #fff; }
  /* line 4, ../sass/base/_main.scss */
  main section {
    padding: 80px 0; }
    /* line 7, ../sass/base/_main.scss */
    main section .section-header {
      font: 700 45px/40px 'Titillium Web'; }
  /* line 11, ../sass/base/_main.scss */
  main #files {
    background-color: #474e5d; }
  /* line 15, ../sass/base/_main.scss */
  main #contact {
    background-color: #1abc9c; }

/* line 1, ../sass/base/_results.scss */
#results {
  background-color: #d0d0d0; }
  /* line 3, ../sass/base/_results.scss */
  #results .page-wrapper {
    padding: 100px 0; }

/* line 1, ../sass/base/_thanks.scss */
#thanks {
  background-color: #d0d0d0;
  color: #000; }
  /* line 5, ../sass/base/_thanks.scss */
  #thanks p {
    font-size: 24px; }
  /* line 8, ../sass/base/_thanks.scss */
  #thanks .email {
    font-weight: bold;
    color: #333;
    font-size: 1.2em; }

/* No files to import found in components/**\/* */

/*# sourceMappingURL=global.styles.css.map */
