main {
	color: #fff;
	
	section {
		padding: 80px 0;

		.section-header {
			font: 700 45px/40px 'Titillium Web';
		}
	}
	#files {
		background-color: #474e5d;
	}

	#contact {
		background-color: #1abc9c;
	}
}